body {
    background-color: rgb(221, 236, 250);
}
header, article, footer {
    background-color: rgb(199, 199, 199);
}
h1{
    flex:1;
}
article{
    display: inline-block;
    margin: 50px
}
header{
    display: flex;
    align-items: center;
}
nav{
    flex:4;
}
nav>ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
nav>ul>li>a{
    padding: 10px 15px;
    background-color: rgb(199, 199, 199);
    text-decoration: none; 
    font-size: 25px;
    font-weight: 900;
    border-radius: 20px;
}
footer{
    display: flex;
    flex-direction: column;
}
